<div class="container-fluid text-center">
    <h3>Logged in as {{name}}
        {{#if student}}
        in a Student account.
        {{else}}
        in a Non-Student account.
        {{/if}}
    </h3>
    {{#if jobs}}
    {{!-- IF LARGER THAN MD --}}
    <div class="d-none d-md-block">
        <table class="table table-striped table-hover table-md">
        <thead>
            <tr>
                <th class="th-sm">Title</th>
                <th class="th-lg">Body</th>
                <th>Poster</th>
                <th>Post Date</th>
            </tr>
        </thead>
        <tbody>
            {{#each jobs}}
            <tr>
                <td><a href="/jobs/{{_id}}">{{title}}</a></td>
                <td class="desc">{{truncateBody (stripTags body)}}</td>
                <td>{{user.displayName}}</td>
                <td>{{formatDate createdAt 'LLL'}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
    {{!-- IF MD OR SMALLER --}}
    <div class="d-md-none">
        <table class=" table table-responsive-md table-striped table-hover">
        <thead>
            <tr>
                <th class="th-sm">Title</th>
                <th class="th-lg">Body</th>
                <th>Poster</th>
                <th>Contact Email</th>
                <th>Post Date</th>
            </tr>
        </thead>
        <tbody>
            {{#each jobs}}
            <tr>
                <td><a href="/jobs/{{_id}}">{{title}}</a></td>
                <td class="desc">{{truncateBody (stripTags body)}}</td>
                <td>{{user.displayName}}</td>
                <td>
                    {{#if ../student}}
                    {{user.email}}
                    {{else}}
                    Redacted - Not student
                    {{/if}}
                </td>
                <td>{{formatDate createdAt 'LLL'}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
    {{else}}
    <p>No current job listings! Check back later!</p>
    {{/if}}
    {{#if student}}
    {{else}}
    <a href="/jobs" class="btn btn-primary">Your Listings</a>
    {{/if}}
</div>