<div class="container">
    <h3>Title: {{job.title}}</h3>
    <h4>Posted by {{user.displayName}} at <a href="mailto:{{user.email}}">{{user.email}}</a></h4>
    <p class="text-break">{{job.body}}</p>
</div>